{%- if link.appleTouchIconPrecomposed !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed}}" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed40x40 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed40x40}}" sizes="40x40" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed57x57 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed57x57}}" sizes="57x57" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed58x58 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed58x58}}" sizes="58x58" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed60x60 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed60x60}}" sizes="60x60" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed72x72 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed72x72}}" sizes="72x72" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed76x76 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed76x76}}" sizes="76x76" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed80x80 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed80x80}}" sizes="80x80" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed87x87 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed87x87}}" sizes="87x87" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed114x114 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed114x114}}" sizes="114x114" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed120x120 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed120x120}}" sizes="120x120" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed144x144 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed144x144}}" sizes="144x144" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed152x152 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed152x152}}" sizes="152x152" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed167x167 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed167x167}}" sizes="167x167" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed180x180 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed180x180}}" sizes="180x180" />
{%- endif -%}
{%- if link.appleTouchIconPrecomposed1024x1024 !== null %}
	<link rel="apple-touch-icon-precomposed" href="{{link.appleTouchIconPrecomposed1024x1024}}" sizes="1024x1024" />
{%- endif -%}
{%- if link.appleTouchIcon !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon}}" />
{%- endif -%}
{%- if link.appleTouchIcon40x40 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon40x40}}" sizes="40x40" />
{%- endif -%}
{%- if link.appleTouchIcon57x57 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon57x57}}" sizes="57x57" />
{%- endif -%}
{%- if link.appleTouchIcon58x58 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon58x58}}" sizes="58x58" />
{%- endif -%}
{%- if link.appleTouchIcon60x60 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon60x60}}" sizes="60x60" />
{%- endif -%}
{%- if link.appleTouchIcon72x72 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon72x72}}" sizes="72x72" />
{%- endif -%}
{%- if link.appleTouchIcon76x76 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon76x76}}" sizes="76x76" />
{%- endif -%}
{%- if link.appleTouchIcon80x80 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon80x80}}" sizes="80x80" />
{%- endif -%}
{%- if link.appleTouchIcon87x87 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon87x87}}" sizes="87x87" />
{%- endif -%}
{%- if link.appleTouchIcon114x114 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon114x114}}" sizes="114x114" />
{%- endif -%}
{%- if link.appleTouchIcon120x120 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon120x120}}" sizes="120x120" />
{%- endif -%}
{%- if link.appleTouchIcon144x144 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon144x144}}" sizes="144x144" />
{%- endif -%}
{%- if link.appleTouchIcon152x152 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon152x152}}" sizes="152x152" />
{%- endif -%}
{%- if link.appleTouchIcon167x167 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon167x167}}" sizes="167x167" />
{%- endif -%}
{%- if link.appleTouchIcon180x180 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon180x180}}" sizes="180x180" />
{%- endif -%}
{%- if link.appleTouchIcon1024x1024 !== null %}
	<link rel="apple-touch-icon" href="{{link.appleTouchIcon1024x1024}}" sizes="1024x1024" />
{%- endif -%}
{%- if link.icon !== null %}
	<link rel="icon" href="{{link.icon}}" />
{%- endif -%}
{%- if link.icon16x16 !== null %}
	<link rel="icon" href="{{link.icon16x16}}" sizes="16x16" />
{%- endif -%}
{%- if link.icon32x32 !== null %}
	<link rel="icon" href="{{link.icon32x32}}" sizes="32x32" />
{%- endif -%}
{%- if link.icon96x96 !== null %}
	<link rel="icon" href="{{link.icon96x96}}" sizes="96x96" />
{%- endif -%}
{%- if link.icon128x128 !== null %}
	<link rel="icon" href="{{link.icon128x128}}" sizes="128x128" />
{%- endif -%}
{%- if link.icon192x192 !== null %}
	<link rel="icon" href="{{link.icon192x192}}" sizes="192x192" />
{%- endif -%}
{%- if link.icon194x194 !== null %}
	<link rel="icon" href="{{link.icon194x194}}" sizes="194x194" />
{%- endif -%}
{%- if link.icon196x196 !== null %}
	<link rel="icon" href="{{link.icon196x196}}" sizes="196x196" />
{%- endif -%}
{%- if link.manifest !== null %}
	<link rel="manifest" href="{{link.manifest}}" />
{%- endif -%}
{%- if link.maskIcon.href !== null %}
	<link rel="mask-icon" href="{{link.maskIcon.href}}" color="{{link.maskIcon.color}}" />
{%- endif -%}
